/* -------------------------------------------------- */
/* BASIC SETUP */
/* -------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #eee;
    color: #6a6a6a;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow: auto;
}

/* -------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -------------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;    
}

.clearfix {transform: scale(1)}
.clearfix:after {
    content: '-';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* -------------------------------------------------- */
/* HEADINGS */
/* -------------------------------------------------- */

h1, h2, h3, h4 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color:  #78bbd6;
    content: " ";
    width: 160px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    padding-top: 15px;
}

h4 {
    font-size: 105%;
    margin-bottom: 10px;
    padding-top: 10px;
}

/* -------------------------------------------------- */
/* SCROLLBAR */
/* -------------------------------------------------- */ 
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(51, 51, 51, 0.8); 
    box-shadow: inset 0 0 6px rgba(51, 51, 51, 0.8);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background: rgba(51, 51, 51, 0.8);
}    

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(51, 51, 51, 0.5); 
    box-shadow: inset 0 0 6px rgba(51, 51, 51, 0.5);
}

::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(51,51,51,0.4); 
}

.field::-webkit-scrollbar-track-piece {
    background: rgba(231, 231, 231, 0.8);
}  

/* -------------------------------------------------- */
/* PARAGRAPHS */
/* -------------------------------------------------- */ 

.long-copy {
    line-height: 145%;
    width: 70%;
}

.long-copy ul li {
    margin-left: 5%;
    font-size: 75%;
}

.long-copy p {
    padding-bottom: 20px;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* -------------------------------------------------- */
/* ICONS */
/* -------------------------------------------------- */

.icon-big {
    font-size: 300%;
    display: block;
    color:  #78bbd6;
    margin-bottom: 10px;
}

/* -------------------------------------------------- */
/* GENERIC LINKS */
/* -------------------------------------------------- */

a:link,
a:visited {
    color:  #78bbd6;
    text-decoration: none;
    border-bottom: 1px solid  #78bbd6;
    padding-bottom: 1px;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #6a6a6a;
    border-bottom: 1px solid transparent;
}


/* -------------------------------------------------- */
/* BUTTONS */
/* -------------------------------------------------- */

.btn:link, 
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color:  #78bbd6;
    border: 1px solid  #78bbd6;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid  #78bbd6;
    color:  #78bbd6;
    margin-right: 15px;
}

.btn:hover,
.btn:active {
    background-color: #a4d8ee; 
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid  #a4d8ee;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid  #a4d8ee;
    color: #fff
}

/* -------------------------------------------------- */
/* FIRST PAGE HEADER */
/* -------------------------------------------------- */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))),  url(../img/slovakia2017.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/slovakia2017.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    user-select:none;
}

.hero-text-box h3 {
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.logo-color {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

nav {
    user-select:none; 
    -webkit-app-region:drag;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 45px;
    -webkit-app-region:no-drag;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid  #78bbd6;
}

/* Sticky Navi */

.sticky {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: #555;
}

.sticky .logo-color {
    display: block;
}

.sticky .logo {
    display: none;
}

.sticky .main-nav {
    margin-top: 18px;
}

/* Mobile Navi */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
    -webkit-app-region:no-drag;
}

.nav-menu {
    color: #fff;
    height: 50px;
    width: auto;
}

a object {
    pointer-events: none;
}

.section-plans {
    background-color: #fff;
}

/* -------------------------------------------------- */
/* CONTACT FORM */
/* -------------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.frontpageform {
    width: 100%;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

*:focus {
    outline: none;
}

/* -------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------- */

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.footer-nav li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

/* -------------------------------------------------- */
/* SUB-PAGE TOP */
/* -------------------------------------------------- */

.top {
    height: 110px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(img/create-back.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}

/* -------------------------------------------------- */
/* SUB-PAGE BOTTOM */
/* -------------------------------------------------- */

.right { float: right; }

.bottom {
    margin-top: 60px;
}

/***** FORM *****/

.form-overall {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.form-section {
    margin: 0 auto;
    text-align: center;
}

.mid-section {
    background-color: #eee;
}

/* -------------------------------------------------- */
/* ALERT MODAL */
/* -------------------------------------------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 20%;
}

.modal-content p {
    float: left;
}

/* The Close Button */  
.close {
    font-size: 200%;
    background: none;
    border: none;
    color:  #78bbd6;
    cursor: pointer;
    vertical-align: middle;
    float: right;
    margin-top: -20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}